.title {
  position: relative;
  z-index: 1;
  font-size: calc(2.2vw + 2.2vh + 1vmin);;
  margin: 4px 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.9);
}

.achievements {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.achievementsSvg {
  max-width: 200px;
  max-height: 200px;
}


