<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="utf-8" />
  <title>Ouch's Slides</title>
  <link rel="stylesheet" href="{{{themeUrl}}}" id="theme" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

    body {
      font-size: 20px;
      font-family: 'Noto Sans TC', sans-serif;
    }

    li {
      list-style-type: square;
    }

    img {
      height: 1.4em;
    }
  </style>
</head>

<body>
  <section class="section">
    <div class="container is-fullwidth">
      <h2 class="title">Ouch's Slides</h2>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Date</th>
            <th>Tags</th>
            <th>Title</th>
          </tr>
        </thead>
        <tbody>
          {{#files}}
          <tr>
            <td>{{date}}</td>
            <td>{{tags}}</td>
            <td><a href="/slides/{{filePath}}" title="{{title}}-slide">
                {{title}}
              </a> <a href="/slides/{{filePath}}?print-pdf" title="{{title}}-pdf" target="_blank">(PDF)</a></td>
            <td>
          </tr>
          {{/files}}
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>